@model IEnumerable<Entities.Models.User>
@{
    ViewBag.Title = "Users";
}

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <a href="@Url.Action("Create","User")" class="btn btn-default waves-effect waves-light" id="target" title="Create"><i class="fa fa-plus"></i> Add User</a>
        </div>
        <h2>USERS</h2>
    </div>
</div>
<link href="~/Scripts/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.bootstrap.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="">
                    <table id="datatable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
<<<<<<< HEAD
                                <th>Username</th>
=======
>>>>>>> 26ef721075f7daf65910c438cea0051f4b8a7e75
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>
                                    DOB
                                </th>
                                <th> User Role</th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Contact
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
<<<<<<< HEAD
                                    <td>@user.Username</td>
=======
>>>>>>> 26ef721075f7daf65910c438cea0051f4b8a7e75
                                    <td>@user.First_name</td>
                                    <td>@user.Last_name</td>
                                    <td>
                                        @user.DOB.Value.ToShortDateString()
                                    </td>
                                    <td>@((Common.GlobalMethods.Enumerators.UserRole)user.UserRole)</td>
                                    <td>
                                        @user.Address
                                    </td>
                                    <td>
                                        @user.Contact
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Edit", "User", new { id = user.User_Id })" c class="edit-row" title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="@Url.Action("Delete", "User", new { id = user.User_Id })" c class="delete-row" title="Delete"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
    });
</script>
