@model BusTicketing.Models.UserViewModel
@{
    ViewBag.Title = "Profile";
    if ((Common.GlobalMethods.Enumerators.UserRole)Filters.AuthenticationModel.GlobalUser.getGlobalUser().UserType == Common.GlobalMethods.Enumerators.UserRole.User)
    {
        Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/jq-themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<div class="wraper container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-picture text-center">
                <div class="bg-picture-overlay"></div>
                <div class="profile-info-name">
                    <img src="@Url.Action("GetUserImage", "User", new { id = Model.User_Id })" class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                    <h4 class="m-b-5"><b>@Model.First_name @Model.Last_name</b></h4>
                    <p class="text-muted"><i class="fa fa-map-marker"></i> @Model.Address</p>
                </div>
            </div>
            <!--/ meta -->
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="card-box m-t-20">
                <div id="myprofile" class="widget-toggle-expand mb-md">
                </div>
            </div>
        </div>

        <div class="col-md-8" style="margin-top:23px;">


            <ul class="nav nav-tabs navtab-bg nav-justified">
                <li class="active">
                    <a id="lnkedit" href="#edit" data-toggle="tab" aria-expanded="false">
                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                        <span class="hidden-xs">Edit Account</span>
                    </a>
                </li>
                <li class="">
                    <a id="lnkchangePassword" href="#changePassword" data-toggle="tab" aria-expanded="true">
                        <span class="visible-xs"><i class="fa fa-user"></i></span>
                        <span class="hidden-xs">Change Password</span>
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="edit">
                    <script type="text/javascript">
                        $('#lnkedit').click(function (e) {
                            location.hash = this.getAttribute("href");
                            var data = { id: "@Model.User_Id" }
                            $.get('../User/ProfileEdit', data).done(function (result) {
                                $('#edit').html(result);
                            });
                        });
                    </script>

                </div>
                <div class="tab-pane" id="changePassword">
                    <script type="text/javascript">
                        $('#lnkchangePassword').click(function (e) {
                            location.hash = this.getAttribute("href");
                            var data = { id: "@Model.User_Id" }
                            $.get('../User/ChangePassword', data).done(function (result) {
                                $('#changePassword').html(result);
                            });
                        });
                    </script>


                </div>

            </div>
        </div>
    </div>

    <div class="row">

    </div>
</div> <!-- container -->

<script type="text/javascript">
    $(document).ready(function () {
        var data = { id: "@Model.User_Id" }
        $.get('../User/ProfileOverview', data).done(function (result) {
            $('#myprofile').html(result);
        });

        $.get('../User/ProfileEdit', data).done(function (result) {
            $('#edit').html(result);
        });


        if (location.hash) {
            $('a[href=' + location.hash + ']').tab('show');
            $('a[href=' + location.hash + ']').click();
        }
    });
</script>
